@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Bold.woff');
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('/fonts/TTFirsNeue-Bold.eot');
    font-weight: normal;
    font-style: normal;   
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}


html, 
body {
    width: 1920px;
    font-size: 16px;
}

.wrap-title {
    height: 1080px;
}

.header {
    height: 80px;
    display: flex;
}

.header__btn {
    width: 80px;
    height: 80px;
    background-color: #5C6266;
    text-align: center;
    line-height: 80px;
}

.header__conteiner-img {
    width: 162px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrap-links {
    font-size: 12px;
}

.header__links {
    width: 423px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header__link {
    text-transform: uppercase;   
}

.header__wrap-links {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.header__numbers {
    display: flex;
    justify-content: space-around;
    width: 516px;
    align-items: center;
}

.header__link,
.header__number {
    color: white;
    text-decoration: none;
}

.phone-number {
    font-weight: lighter;
}

.wrap-title__control {
    position: absolute;
    width: 80px;
    height: 70px;
    left: 1786px;
    top: 505px;

}

.wrap-title__background {
    position: absolute;
    width: 1920px;
    z-index: -1;
    top: 0;
    background-color: black;
}

.title-text {
    position: absolute;
    width: auto;
    min-height: 260px;
    left: 160px;
    top: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.caption,
.caption-text {
    color: white;
    font-style: normal;
}

.caption {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    
    
}

.caption span {
    color:#FFCB05;
}

.caption-text {
    font-weight: normal;
    font-size: 25px;
    line-height: 204.27%;    
}

.aside {
    height: 544px;
    position: relative;
}

.aside__title,
.aside__excerpt,
.buttom-link {
    position: absolute;
}

.aside__title {  
    left: 160px;
    top: 124px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 205%;
}

.aside__excerpt {    
    left: 320px;
    top: 216px;
    font-size: 25px;
    line-height: 205%;
    color: #000000;
}

.buttom-link {
    height: 60px;
    width: 160px;
    left: 295px;
    top: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-link__item {
    color: #000000; 
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;  
}

.buttom-link__img {
    background-image: url(/icons/buttom__img__black.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
}
 
.white-img {
    background-image: url(/icons/buttom__img__white.svg);
    padding: 0px 50px 0px 0px;
} 

.content-buttom {   
    left: 60px;
    top: 700px;
}

.content {
    display: flex; 
    flex-direction: row; 
}

.tools,
.software-products,
.other-products {
    position: relative;
    flex-basis: 640px;
    height: 760px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 400px;
    min-height: 200px;
    margin:  60px 0 0 60px;
    

}

.box__header,
.box__link,
.white-img,
.software-productc__header,
.other-products__header {
    color: white;
}


.box__header,
.software-productc__header,
.other-products__header {
    font-family: Gotham Pro;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;   
}

.box__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px; 
    list-style-type: none;
}

.box__links a {
    text-decoration: none;
}

.box_img {
    background-image: url(icons/tools_img.svg); 
    background-repeat: no-repeat;
    background-position: left;
    padding: 0px 0px 0px 20px;   
}

.line {
    position: absolute;
    top: 684px;
}

.line__img {
    height: 4px;
    width: 420px
}

.software-productc__header,
.other-products__header {
    position: absolute; 
    top: 60px;
    left: 60px;
}

.background-content {
    position: absolute;
    top: 0;
    left:  0;
    background-color: black;
    z-index: -1;
}

/* БЛОК ИНФОРМАЦИИ (НАЧАЛО) */

.wrap-information {
    height: 1135px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.information {
    height: 828px;
    width: 1280px;
    display: grid;
    grid-template-columns: 640px 640px;
    grid-template-rows: 414px 414px;
    grid-template-areas: 
    "a b"
    "c d";
    position: relative;
}

.information__content {   
    z-index: 1;
}

.information__content p {
    color: #000000;
}

.new-tech {
    grid-area: a;
}

.information__new-tech {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 45px;
    line-height: 160%;
    margin-top: 78px;
}

.new-tech-description {
    grid-area: b;
}

.information__new-tech-description {
    font-family: Open Sans;
    font-size: 25px;
    line-height: 180%;
    margin-top: 78px;
}

.service {
    grid-area: c;
}

.information__service {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 180%;   
}

.information__service span {
    font-family: TT Firs Neue;
    font-size: 60px;
    line-height: 204.27%;
    margin-right: 30px;
}

.service .information__service:first-child {
    margin-top: 56px;
}

.service .information__service:first-child span {
    margin-right: 60px;
}

.offices {
    grid-area: d;
    display: flex;
}

.information__offices {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 180%;
}

.information__offices span {
    font-family: TT Firs Neue;
    font-size: 160px;
    line-height: 110%;
}

.offices .information__offices {
    margin-top: 56px;
}

.offices .information__offices:first-child span {
    margin-right: 100px;
}

.wrap-information__background {
    position: absolute;
    left: 188px;
    z-index: 0;
}

.wrap-information__line {
    width: 1280px;
    height: 4px;
    position: absolute;
    top: 374px;
}

/* БЛОК ИНФОРМАЦИИ (КОНЕЦ) */

/* БЛОК С КАРТОЙ (НАЧАЛО) */

.map {
    height: 780px;
    position: relative;
    background-color: black;
}

.map__header {
    position: absolute;
    top: 288px;
    left: 320px;
}

.map__header h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 140%;
    color: white;
}

.map__header h2 span {
    color: #FFCB05;
    font-weight: bold;
}

.map .content-buttom {
    top: 460px;
    left: 305px;
}

.map__text {
    width: 475px;
    position: absolute;
    top: 310px;
    left: 1045px;
}

.map__text h2, p {
    color: white;
}

.map__text h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 217.89%;
}

.map__text p {
    font-size: 19px;
    line-height: 217.89%;
}

.map__line {
    position: absolute;
    top: 310px;
    left: 963px;
}

/* БЛОКА С КАРТОЙ (КОНЕЦ) */

/* БЛОК НОВОСТЕЙ (НАЧАЛО) */

.news {
    min-height: 1126px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news__header {
    font-weight: bold;
    font-size: 45px;
    line-height: 140%;
    margin-bottom: 85px;
    width: 1770px;
}

.columns {
    display: flex;
    justify-content: start;
    align-items: center;
}

.wrap-link {
    text-decoration: none;
    display: block;
}

.wrap-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    min-height: 620;
}

.column {
    width: 560px;
    display: flex;
    flex-direction: column;
}

.column__date {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 217.89%;  
    margin-bottom: 20px;
}

.column__excerpt {
    position: relative;
}

.column__header {
    position: absolute;
    left: 37px;
    top:  93px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
}

.column__text {
    color: black;
    width: 480px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 217.89%;
}

.columns .column:last-child .column__img {
    width: 560px;
    height: 390px;
}

/* БЛОК НОВОСТЕЙ (КОНЕЦ) */

/* БЛОК ДЛЯ ЗАПРОСА ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ (НАЧАЛО) */

.text-arena {
    min-height: 1000px;
    display: flex;
    justify-content: center;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 820px;
    background-color: #F7F7F7;
}

.request__inner {
    width: 1280px;
    min-height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.request__header {
    font-weight: bold;
    font-size: 45px;
    line-height: 140%; 
}

.imput-fields {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 40px 40px 40px 40px;
    column-gap: 80px; 
    row-gap: 70px;
    grid-template-areas: 
    "one one"
    "two three"
    "four five"
    "six six";
}

.first-field {
    grid-area: one;
    
}

.second-field {
    grid-area: two;
}

.third-field {
    grid-area: three;
}

.fourth-field {
    grid-area: four;
}

.fifth-field {
    grid-area: five;
}

.sixth-field {
    grid-area: six;
}

.imput-fields input, select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: #F7F7F7; 
    font-size: 18px;
    line-height: 217.89%; 
    color: #000000;
   

}

.imput-field__first-type {
    width: 1280px;
    height: 40px;
    
}

.imput-field__second-type {
    width: 600px;
    height: 40px;
}

.buttom-send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttom-send__check-mark label {
    display: flex;
    align-items: center;
}

.check-mark {
    width: 18px;
    height: 18px;
}

.buttom-send__text {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 20px;
}

.buttom-send__submit {
    width: 200px;
    height: 60px;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-size: 18px;
    text-transform: uppercase;
}

/* БЛОК ДЛЯ ЗАПРОСА ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ (КОНЕЦ) */

/* БЛОК FOOTER (НАЧАЛО) */

.footer {
    height: 880px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__header {
    font-weight: bold;
    font-size: 72px;
    line-height: 140%;
    color: #FFFFFF;   
    min-width: 1250px;
    height: 230px;
}

.footer__header span {
    color: #FFCB05;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    min-width: 1250px;
    line-height: 40px;
    font-size: 18px;
    min-height: 230px;
}

.footer__info h3 {
    color: white;
}

.footer__links {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}

.Midland {
    height: 200px;
}

.dop {
    margin-left: 100px;
}

.dop a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer__desc p {
    position: absolute;
}

.footer__first-desc {
    left: 160px;
    top: 790px;
    font-weight: bold;
}

.footer__second-desc {
    left: 1400px;
    top: 790px;
    font-weight: bold;
}

.footer__third-desc {
    left: 1650px;
    top: 790px;
}

.footer__third-desc a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer__img {
    position: absolute;
    left: 1362px;
    top: 448px;
}

.footer__img-in {
    position: absolute;
    top: 790px;
    left: 1361px;
}