extends layout/main.pug
block variables
    - var title = "Тестовый макет"
    - var pageClass = "index-page"

block content

        
                
            
                    
                    