block header
    .wrap-title
        header.header
            .header__btn
                img(class="header__drop", src="icons/header__drop.svg", alt="", width="20px", height="17px")
                .header__conteiner-img
                    img(src="icons/header__logo.svg" alt="" class="header__logo" width="120" height="50")  
                .header__wrap-links 
                    .header__links
                        a(class=classheaderlink, href="#") Adout us
                        a(class=classheaderlink, href="#") Products & Services
                        a(class=classheaderlink, href="#") Contacts    