extends ../pug/layout/main.pug
block variables
    - var title = "Тестовый макет"
    - var pageClass = "index-page"
    - var classheaderlink = "header__link"
    - var classAlfaHeaderP = "header__number"
    - var classTools = true

block content
    //- include ../pug/includes/modules/aside.pug
    //- include ../pug/includes/modules/content__box.pug
    //- include ../pug/includes/modules/information.pug
    //- include ../pug/includes/modules/map.pug
    include ../pug/includes/modules/news.pug

