extends ../pug/layout/main.pug
block variables
    - var title = "Тестовый макет"
    - var pageClass = "index-page"
    - var classheaderlink = "header__link"
    - var classAlfaHeaderP = "header__number"

block content   
    include ../pug/includes/modules/aside.pug