.wrap-aside
    .aside
        h2.aside__title About us
        p(class="aside__excerpt") Frontier MWD Systems provides customers with the option to&nbsp;rent, lease to&nbsp;own and/or purchase advanced <br> MWD/LWD kits backed by&nbsp;an&nbsp;industry-leading commitment to&nbsp;service and support.
        div(class="aside__button button-link")
            a(target="_blank", href="#", class="button-link__item")
                span(class="button-link__img black-img") Learn more 