.wrap-content-title
    .content-title
        h1(class="content-title__caption")!='<span>Fronter</span>' + ' MWD Systems'    
        p(class="content-title__caption-text") Frontier MWD Systems, a&nbsp;subsidiary of&nbsp;NewTech Services Holding Limited, <br> is&nbsp;one of&nbsp;the fastest growing and most reliable MWD rental and service companies in&nbsp;the&nbsp;US.
    .btm-swiper
        img(src="/icons/wrap-title__control.svg", alt="", class="btm-swiper__img")    
img(src="/img2/wrap-title__background.png", alt="", class="wrap-title__background")