.wrap-information
    .information
        .information__content(class="new-tech")
            h2.information__new-tech NewTech Services <br>Holding Limited
        .information__content(class="new-tech-description")
            p.information__new-tech-description NewTech Services Holding Limited is&nbsp;an&nbsp;international<br> oilfield services company founded in&nbsp;2009.<br>  NewTech Services supplies high technology products<br> and services to&nbsp;the oil and gas exploration and<br>  production industry.
        .information__content(class="service")
            p(class="information__service")!= "<span>9</span>" + "Manufacturing Facilities Worldwide"
            p(class="information__service")!= "<span>27</span>" + "Service & Maintenance Centers Worldwide"
        .information__content(class="offices")
            p(class="information__offices")!= "<span>27</span>" + "<br>Regional Offices Worldwide"
            p(class="information__offices")!= "<span>13</span>" + "<br>Regional Offices in Russia"
        img(src="/img2/wrap-information__background.svg", alt="", class="wrap-information__background")    
        img(src="/icons/wrap-information__line.svg", alt="", class="wrap-information__line")