.map
    .map__buttons
        a(href="#", class="map__button") World
        a(href="#", class="map__button") Russia
    .map__wrap-content
        .map__wrapper
            .map__header
                h2!= "International <br>" + "<span>sales</span>"  
            .content-button(class="button-link")
                a(target="_blank", href="#", class="button-link__item")
                    span.button-link__img(class="white-img") Learn more
        .map__line
            img(src="/icons/map__img.svg", alt="", class="map__img")
        .map__text
            h2.map__text-header Need Help with Shipping?
            p.map__text-paragraph We&nbsp;offer several logistics options for international <br> shipping, and can help make sure that your kit arrives in&nbsp; <br> the right place at&nbsp;the right time.