.news
    h2.news__header Новости
    .columns
        +columnOne("18 апреля 2019", "Команда НьюТек Сервисез по <br>мини-футболу...", "/img2/column__img__one.png", "17 марта на крытом футбольном манеже «Олимп» в районе Новокосино состоялся очередной благотворительный турнир «Кубок Нефть и Газ...")
        +columnOne("11 марта 2019", "В Минусинске <br>успешно <br>выполнены...", "/img2/column__img__two.png", "В апреле текущего года по договору между<br> компаниями «НьюТек Сервисез» и «ГЕОТЕК Сейсморазведка», одной из крупнейших в мире...")
        +columnOne("8 марта 2019", "", "/img2/column__img__three.png", "В апреле в Перми НьюТек Сервисез запустило один<br> из первых заводов в России по производству набухающих пакеров – надежного, безопасного и...")
